# npm debugging logs
npm-debug.log*

# project dpendencies
node_modules

#OSX folder attributes
.DS_Store

#temporary files
*.tmp
*~

#pihole and admin
/pihole
/admin

#smartmirrorOS files
*.image
SmartMirrorOS-1.0
*.tar.gz
