body {
    background: black;
}

.mainText {
    font-size: 60px;
    margin: 0px auto;
}
.subText {
    font-size: 20px;
    margin: 0px auto;
}
.weather{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}
h1 {
    padding-bottom: 16px;
}
.greeting{
    font-size: 80px;
    margin: 0px auto;
}
#l1,
#l2,
#l3{
	text-align: left;
}
#r1,
#r2,
#r3{
	text-align: right
}
.none{
	color: black !important;
}
p{
	color: white;
}
.mainText,
.subText,
.greeting{
	color: white;
	font-family: Arial;
}
