body {
    background: black;
}
.grid {
	display: grid;
    grid-template-columns: 50% 50%;
}
.mainText {
    font-size: 60px;
    margin: 0px auto;
}
.subText {
    font-size: 20px;
    margin: 0px auto;
}
.weather{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}
h1 {
    padding-bottom: 16px;
}
.Greeting{
    font-size: 80px;
    margin: 0px auto;
}
.l1,
.l2,
.l3{
	text-align: left;
	justify-self: start;
	grid-column-start: 1;
	grid-column-end: 2;
	
}
.r1,
.r2,
.r3{
	text-align: right;
	justify-self: end;
	z-index: -1;
	grid-column-start: 2;
}
.none{
	color: black !important;
}
div{
	color: white;
}
.mainText,
.subText,
.greeting{
	color: white;
	font-family: Arial;
}
